body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #844629;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0 0 30px 30px;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}
nav ul li img {
    vertical-align: middle;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #EBCB01;
}
.logoicon {
    width: 50px;
    height: 40px;
}

.restaurant-detail-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
    box-shadow: 5px 5px 10px #533010;
}

.restaurant-detail-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.restaurant-detail-card img {
    width: 250px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #533010;  
  }

  .restaurant-detail-card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .restaurant-detail-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .restaurant-detail-card p {
    margin: 5px 0;
  }

  .restaurant-detail-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #924B2A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .restaurant-detail-card a:hover {
    animation-duration: 3s;
    background-color: #533010;
  }